@import 'variables.css';

/* Tablet */
@media (max-width: 1024px) {
    .hero {
        grid-template-columns: 1fr;
        text-align: center;
        gap: var(--spacing-xl);
    }

    .search__filters {
        grid-template-columns: repeat(2, 1fr);
    }

    .services__grid {
        grid-template-columns: 1fr;
        gap: var(--spacing-xl);
    }

    .brands__container {
        justify-content: center;
        gap: var(--spacing-xl);
    }
}

/* Mobile Large */
@media (max-width: 768px) {
    .nav__menu {
        display: none;
    }

    .nav__actions {
        display: none;
    }

        .nav__hamburger {
            display: block;
        }
    }